body {
	background: linear-gradient(to right, lightgreen, purple);
	justify-content: center;
	align-items: center;
	font-family: consolas;
}

.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
	display: none;
}

.popup .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: rgba(0, 0, 0, 0.678);
	color: #fff;

	max-width: 350px;
	max-height: 550px;
	min-width: 300px;
	min-height: 150px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.popup .close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: rgba(47, 79, 79, 0.171);
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}

.help-btn {
	color: black;
	background: yellow;
	border-color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 10%;
	font-size: 15px;
}

.grid-container {
	display: grid;
	grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	padding: 0px;
	width: 300px;
	margin: auto;
	margin-top: 10vh;
	border-top: 2px groove rgba(54, 54, 54);
	border-left: 2px groove rgba(54, 54, 54);
	border-right: 2px groove rgba(54, 54, 54);
	background-color: rgba(79, 97, 172, 0.5);
	position: static;
}

.top-grid-item {
	background-color: rgba(48, 50, 58, 0.5);
	border-bottom: 2px groove rgba(54, 54, 54);
	padding: 2px;
	padding-left: 3px;
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-item {
	background-color: rgba(48, 50, 58, 0.5);
	border-bottom: 2px groove rgba(54, 54, 54);
	padding: 3px;
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	height: auto;
}

.answerPin {
	border: 2px groove rgba(54, 54, 54);
	border-radius: 50%;
	background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
		linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
}

.pin {
	border: 2px groove rgba(54, 54, 54);
	border-radius: 50%;
	background-color: rgba(16, 61, 63, 0.275);
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	user-select: none;
}

.feedbackcontainer {
	height: 35px;
	width: 35px;
	float: left;
}

.feedbackPin {
	border: 2px groove rgba(54, 54, 54);
	border-radius: 50%;
	background-color: rgba(16, 61, 63, 0.247);
	width: 6px;
	height: 6px;
	float: left;
	margin: 2px;
	margin-top: 4px;
}

.start-button {
	color: black;
	background: limegreen;
	border-color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 10%;
}

.submit-button {
	color: black;
	background: darkgreen;
	border-color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 10%;
}
.colortest {
	color: darkmagenta;
}
